html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: inter;
}

h1 {
    margin: 0 0 10px 0;
    padding-top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

header {
    width: 550px;
    height: 190px;
    text-align: center;
    background-color: #3A69D2;
    color: white;
    left: 0px;
    top: 0px;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #1F2937;
    height: 719px;
}

.card-tasks {
    display: flexbox;
    margin-top: 40px;
}

#wash-car {
    margin-right: 17.5px;
}

#mow-lawn {
    margin-right: 17.5px;
}

/* #pull-weeds {
} */

.service-render {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.task-text {
    font-size: 12px;
    font-weight: bold;
}

.total-text {
    font-size: 12px;
    font-weight: bold;
    justify-self: end;
}

#services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.service-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}

#services div {
    justify-self: end;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
}

.dollar-font {
    font-weight: 300;
    color: #918E9B;
}

.total-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    border-top: solid 1px white;
    padding-top: 20px;
    margin-top: 20px;
}
.notes-text {
    font-size: 12px;
}

.total-amount-text {
    font-size: 12px;
    justify-self: end; 
}

button {
    background-color: #D1D4F4;
    border: none;
    border-radius: 7px;
    width: 143px;
    height: 45px;
    margin-bottom: 40px;
    font-size: 14px;
}

#total-price {
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
    padding: 0;
    justify-self: end; 
}

.send-container {
    display: flex;
    justify-content: center;
}

.pay-method {
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    color: #F5F5F5;
}

#send-invoice {
    width: 473px;
    background-color: #3A69D2;
    border: none;
    color: white;
    padding: 10px 0px;
    border-radius: 7px;
    margin-top: 50px;
    font-size: 16px;
    justify-self: end;
}

.icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.content-margin {
    margin: 0 39px;
}